@model WatchStoreMvcProject.Models.userData

<div class="innerBody">
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li class="active">Login/Sign Up</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="outerBox">
        <h4 id="head2" align="center">Welcome to <i><b>Login</b></i> menu!</h4><br>
      @using (Html.BeginForm("forgetPassword", "Home", FormMethod.Post))
      {
            <div id="text">
                Enter your username: &nbsp;  &nbsp;  &nbsp;
                @Html.TextBoxFor(model => model.uname, new { id = "uname" })<br />
                @Html.ValidationMessageFor(model => model.uname)
                <div id="undiv"></div><br>
                Anwer this Question:   &nbsp;  &nbsp; &nbsp;  &nbsp;
                @Html.TextBoxFor(model => model.s_question,new { id="s_question",readOnly=true})<br><br>
       
                Enter your answer: &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
                @Html.TextBoxFor(model => model.s_answer,new {id="s_answer" })<br><br>
                @Html.ValidationMessageFor(model => model.s_answer)<br />
                Enter new password:   &nbsp; &nbsp; &nbsp;  &nbsp;
                @Html.PasswordFor(model => model.password, new { id="password"})<br><br>
                @Html.ValidationMessageFor(model => model.password)
            </div>
            <input class="submit" id="radio1" type="submit" name="submit">
      }

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script>
        $(document).ready(function () {

            $('#uname').focusout(function () {

                var userName = $('#uname').val();
                $.getJSON("/home/getSecrectQesction?uname=" + userName, function (data) {
                    if (data!="" && data!=null) {
                       
                        $('#s_question').val(data);
                        $('#undiv').text("");
                        $('#s_answer').focus();
                    }
                    else {
                        $('#undiv').text("Invalid Username");
                        $('#undiv').css("color", "red");
                        $('#s_question').val("");
                        $('#uname').focus();
                    }
                });

            });
        });
</script>