@model WatchStoreMvcProject.Models.watch_data
<div class="innerBody">
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="~/Home/index">Home</a></li>
                    <li class="active">Single</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--start-single-->
    <!-- FlexSlider -->
    <script src="~/Scripts/js/imagezoom.js"></script>
    <script src="~/Scripts/js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" />

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
    <div class="single contact">
        <div class="container">
            <div class="single-main">
                <div class="col-md-9 single-main-left">
                    <div class="sngl-top">
                        <div class="col-md-5 single-top-left">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li data-thumb="/img/@Model.pic">
                                        <div class="thumb-image"> <img src="/img/@Model.pic" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                    </li>
                                    <li data-thumb="/images/s-2.jpg">
                                        <div class="thumb-image"> <img src="/images/s-2.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                    </li>
                                    <li data-thumb="/images/s-3.jpg">
                                        <div class="thumb-image"> <img src="/images/s-3.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-md-7 single-top-right">
                            <div class="single-para simpleCart_shelfItem">
                                <h2>Latest Furniture</h2>


                                <h5 class="item_price">$ @Model.price</h5>
                                <p>It is one of classy Furniture present at our store for sale. You can buy it now! :)</p>
                                <div class="available">
                                    <ul>
                                        <li>
                                            Color: &nbsp;  &nbsp;  &nbsp;  &nbsp; @Model.color



                                        </li>
                                        <li class="size-in">
                                            Size:  &nbsp;  &nbsp;  &nbsp;  &nbsp; @Model.size
                                        </li>
                                        <div class="clearfix"> </div>
                                    </ul>
                                </div>
                                <ul class="tag-men">
                                    <li>
                                        <span>Model #</span>
                                        <span class="women1">:  @Model.model_number</span>
                                    </li>
                                </ul>

                                <a href="~/Home/addItemToList?model=@Model.model_number" class="add-cart item_add">ADD TO CART</a>

                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="tabs">
                        <ul class="menu_drop">
                            <li class="item1">
                                <a href="#"><img src="~/images/arrow.png" alt="">Description</a>
                                <ul>
                                    <li class="subitem1" id="para1"><p>@Model.description</p></li>

                                </ul>
                            </li>
                            <li class="item2">
                                <a href="#"><img src="~/images/arrow.png" alt="">Additional information</a>
                                <ul>
                                    <li class="subitem2" id="para1"><p>You can also visit our product page and check all avaiable stock present at our store. For  further details of the products you can visit out contact page and can contact us to get complete info.</p></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <h4 align="center">Latest Products</h4>
                    <div class="latestproducts">
                        <div class="product-one">
                            @{ if (ViewBag.watchlist != null)
                                {
                                    for (int i = 0; i < 3; i++)
                                    {
                                        var p = ViewBag.watchlist[i];


                            <div class="col-md-4 product-left p-left">
                                <div class="product-main simpleCart_shelfItem">
                                    <a href="~/Home/single?id=@p.model_number" class="mask"><img class="img-responsive zoom-img" src="~/img/@p.pic" alt="" /></a>
                                    <div class="product-bottom">
                                        <h3>@p.name</h3>
                                        <p>Explore Now</p>
                                        <h4><a class="item_add" href="#"><i></i></a> <span class="item_price">$ @p.price</span></h4>
                                    </div>
                                    <div class="srch">
                                        <span>-50%</span>
                                    </div>
                                </div>
                            </div>
                                    }
                                }

                            }
                           
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-right">
                    <div class="w_sidebar">
                        <section class="sky-form">
                            <h4>Catogories</h4>
                            <div class="row1 scroll-pane">

                                <div class="col col-4">
                                    <label ><i></i><a id="lis" href="~/Home/products">Beds</a></label>
                                    <label ><i></i><a id="lis" href="~/Home/products">Branded Furniture</a></label>
                                    <label><i></i><a id="lis" href="~/Home/products">Sofa</a></label>
                                </div>
                            </div>
                        </section>
                        <section class="sky-form">
                            <h4>Brand</h4>
                            <div class="row1 row2 scroll-pane">

                                <div class="col col-4">
                                    <label ><i></i><a id="lis" href="~/Home/products">Diamond Dolce Vita</a></label>
                                    <label ><i></i><a id="lis" href="~/Home/products">Kalamkaar</a></label>
                                    <label ><i></i><a id="lis" href="~/Home/products">Chinoit Wood Furniture</a></label>

                                </div>
                            </div>
                        </section>


                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>